In [1]:
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [9]:
id_data_excel = pd.read_excel("hackerrankID_data.xlsx")
id_data_excel = pd.DataFrame(id_data_excel)
id_data = id_data_excel.to_csv("hackerrankID_data(new).csv")

In [11]:
id_data = pd.read_csv("hackerrankID_data(new).csv")
id_data.head()

,Unnamed: 0,S.\nNo.,Admission No,Roll No.,Name,Sec,Hackerrank id through which you will appear in the Coding Test,Appeared with new Hackerrank id? (Yes/NO),Unnamed: 7
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.0,2021B0101021,2.100320e+12,Aaditya Raj Gupta,A1,CSEA_21B0101021,NaN,NaN
3,3,2.0,2021B0101084,2.100320e+12,AAKASH KUMAR,A1,CSEA_21B0101084,NaN,NaN
4,4,3.0,2021B0101160,2.100320e+12,AARYAN MISHRA,A1,aaryan_21b010111,NaN,NaN

In [19]:
required_data = pd.concat([id_data.iloc[2:,2:4],id_data.iloc[2:,4:5],id_data.iloc[2:,6:7]],axis=1)
required_data = required_data.rename(columns={"Hackerrank id through which you will appear in the Coding Test":"Hackerrank_ID"})

In [22]:
test_data = required_data.head()

In [48]:
test_data

   Admission No      Roll No.               Name     Hackerrank_ID
2  2021B0101021  2.100320e+12  Aaditya Raj Gupta   CSEA_21B0101021
3  2021B0101084  2.100320e+12       AAKASH KUMAR   CSEA_21B0101084
4  2021B0101160  2.100320e+12      AARYAN MISHRA  aaryan_21b010111
5  2021B0101029  2.100320e+12      AASHISH GUPTA   CSEA_21B0101029
6  2021B0101192  2.100320e+12      Abhay Singhal          mdpabhay

In [58]:
#Data fetcher
fetch_data = {}
badge_list = ["Problem Solving","CPP","C language","Python","JAVA","Ruby",
              "SQL","Days of code","Days of JS","Days of Statistics"]
count = 2
for hackerrank_id in test_data["Hackerrank_ID"]:
    url = r"https://www.hackerrank.com/profile"+"//"+hackerrank_id
    agent = {"User-Agent":'Chrome/123.0.6312.86'}
    response = requests.get(url,headers=agent)
    if response.status_code == 200:
        user_data = {}
        temp = {}
        main_html_parser = BeautifulSoup(response.text, 'html.parser')
        badges = main_html_parser.find_all(class_="hacker-badge")
        for i,badge_html in enumerate(badges):
            badge_html_parser = BeautifulSoup(str(badge_html), 'html.parser')
            badge_title = badge_html_parser.find(class_="badge-title").text
            stars = len(badge_html_parser.find_all(class_="star"))
            user_data[badge_title]=stars
        
        for name in badge_list:
            if name in user_data:
                temp[name]=user_data[name]
            else: temp[name]=0
        fetch_data[test_data["Name"][count]] = temp
        count = count + 1
        
        
    else:
        print('Failed to retrieve the webpage',test_data["Name"][i+2])

In [69]:
#converter
excel_data = {}
for badge_name in badge_list:
    temp = {}
    for name in fetch_data:
        temp[name] = fetch_data[name][badge_name]
    excel_data[badge_name]=temp

In [70]:
excel_data = pd.DataFrame(excel_data)

In [71]:
excel_data

,Problem Solving,CPP,C language,Python,JAVA,Ruby,SQL,Days of code,Days of JS,Days of Statistics
Aaditya Raj Gupta,5,1,5,2,0,0,0,0,0,0
AAKASH KUMAR,0,3,0,0,0,0,0,0,0,0
AARYAN MISHRA,0,0,0,1,0,0,0,0,0,0
AASHISH GUPTA,3,3,0,0,0,0,0,0,0,0
Abhay Singhal,5,5,3,1,0,0,0,0,0,0